@import '~foundation-sites/scss/foundation';

@include foundation-everything;
/*====================
  color default
====================*/
$color-blue:blue;
$color-link: #2c75ff;
$color-red:#e32b23;
$color-white:#fff;
$color-white-2:#fefefe;
$color-wheat:wheat;
$color-black:#000;
$color-border:#cacaca;
/*====================
  font size default
====================*/
$font-small:15px;
$font-normal:20px;
$font-large:25px;

/*====================
  margin default
====================*/
$space: 1.5em;


/*====================
  margin default
====================*/
@mixin transition($time : 0.3s){
    -webkit-transition: $time;
    transition: $time;
}
@mixin transform-translate-xy($x : 10px, $y:10px){
    -ms-transform: translate($x, $y); /* IE 9 */
    -webkit-transform: translate($x, $y); /* Safari */
    transform: translate($x, $y);
}

/*====================
  custom default
====================*/
.page-title{
    margin-top: $space;
    margin-bottom: $space;
}
.active{
    font-weight: bold;
}
.small-image{
    max-width: 100px;
    height: auto;
}
.img-large{
    max-width: 400px;
    height: auto;
}

.detail-item{
    margin: 20px 0;
}
.detail-item-content{
    width: 75%;
    margin: auto;
}
.btn-back{
    margin-left: 15px;
}
.text-large{
    font-size: $font-large;
}
.text-default{
    font-size: $font-normal;
}
.title-header{
    font-size:24px;
    color:$color-red;
    text-transform: uppercase;
    border-bottom: 2px solid $color-red;
    line-height: 25px;
    margin: 10px 0px;
    margin-top: 20px ;
}
.main-section-custom{
    padding-top: 80px;
}

/*====================
  css animation react-js
====================*/

.example-enter {
    color: red;
    transition: 1s ease-out;
}

.example-enter.example-enter-active {
    color: blue !important;
}

.example-leave {
    opacity: 1;
    transition: .5s ease-in;
}

.example-leave.example-leave-active {
    opacity: 0.1;
}

//khi sinh ra se chay
.example-appear {
    opacity: 0.1;
    @include transform-translate-xy(40px,0px);
    transition: 0.5s ease-in;
}

.example-appear.example-appear-active {
    opacity: 1;
    @include transform-translate-xy(0px,0px);


}

/*====================
     homepage
====================*/

.items{
    text-align: center;
    position: relative;
    .items-image{
        display: block;
        margin: 0px auto;
        position: relative;
        height: 190px;
        border: 1px solid $color-border;
        overflow: hidden;
        border-radius: 6px;
        img{
            width: auto;
            height: 100%;
            margin: 0 -25%;
            max-width: unset;
        }
    }
    .items-content{
        position: relative;
        top:5px;
        .items-name{
            background-color: $color-red;
            font-size: 16px;
            padding: 3px 0px;
            color: $color-wheat;
            margin-bottom: 5px;
            border-radius:2px
        }
        .items-info{
            max-height: 45px;
            width: 100%;
            overflow: hidden;
        }
    }
    .items-button{
        position: absolute;
        width: 100%;
        margin: 30px -15px 0px;
        top: 20%;
        opacity: 0;
        a:hover, a:focus{
            text-decoration: none;
        }
        .button{
            color: $color-white-2;
            margin:0px 5px;
        }
    }
    &:hover .items-button{
        opacity: 1;
        @include transition;
    }
    &:hover img{
        opacity: 0.7;
       @include transition;
    }
}
.slider-homepage{
    padding: 0px 0px 30px 0px;
    .slick-slide{
        img{
            max-width: 60%;
            text-align: center;
            margin:auto;
        }
    }
}

/*====================
     Main-menu
====================*/
.main-menu{
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 5px 0px;
    background-color: $color-red;
    & ul{
        background-color: $color-red;
        color: $color-white;
        & a{
            color: $color-white;
            text-transform: uppercase;
            font-size: 16px;
            &:hover,&:focus{
                text-decoration: none;
            }
        }
    }
    &  ul li a::after{
        color: $color-white;
        border-color: $color-white transparent transparent !important;
    }
    .menu > li.opens-right > .is-dropdown-submenu{
        top: 137%;
    }
}
/*====================
     Notification
====================*/
.Notification{
    position: fixed;
    right: 50px;

}

/*====================
     info-user
====================*/
.info-user{
    text-align: center;
    border: 1px solid $color-border;
    border-radius: 4px;
    .info-user-body{
        padding: 15px;
    }
    .info-user-link{
        border-top:1px solid $color-border;
        padding: 15px 0px;
        button{
            color:$color-white !important;
            border-radius:3px;
            margin:0px 4px;
        }
    }
}
/*====================
     form-search
====================*/
.form-search{
    position: relative;
    min-width: 300px;
    & > input{
        margin-bottom: -1px;
        max-width:100%;
    }
    .search-result{
        position: absolute;
        max-height:250px;
        max-width:100%;
        min-width:100%;
        overflow: hidden;
        overflow-y: auto;
        display: none;
        border: 1px solid $color-border;
        border-radius: 2px;
        padding: 10px 15px;
        background-color: $color-white;
        & .items-name{
            margin-bottom:5px;
        }
        & .items-name a{
            color: $color-link;
            font-size:12px;
        }
    }

}